body {
    background-color: #232527;
}


    @font-face {
        font-family: 'Roblox';
        src: url('/Users/michaelturner/Library/Fonts/Roblox.ttf');
    }

.banner{
    font-family: 'Roblox', sans-serif;
    color: white;
    width: 100%;
    /* position: relative; */
    margin: -17px;
    display: inline block;
    top: 0;
    left:0;
    right: 0;
    margin-left: 10px;
    padding: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



img{
    width: 140px; 
    height: auto;
    background-color: transparent;
    position: relative;
    display: inline-block; 
    vertical-align: middle;
    top: -4px;
    margin-left: -45px;
}

.welcome{
    font-family: "Roboto", sans-serif;
    color: white;
    text-align: center;
    line-height: 100vh; 
    margin: 0; 
    margin-top: -300px;
    /* font-size: 70px; */
}

.search-container {
    width: 100%; 
    text-align: center; 
    margin-top: -350px;
}

.searchbar {
    width: 700px;
    height: 40px;
    border-radius: 20px;
    margin-top: -200px;
    outline: none;
    border: none;
    text-align: left; 
    display: inline-block;
    margin-right: 10px;
}

.me{
    text-decoration: none;
    font-family: 'Roblox', sans-serif;
}
.me:visited{
    color: white;
}

footer{
    color: white;
    font-family: 'Roboto', sans-serif;
}